<div class="error-div">
    <p class="error-text">No information for this city, try to enter another city!</p>
</div>
<div class="error-div">
    <a href="~/Home/Index" class="btn btn-primary" role="button">Back</a>
</div>


